datasets/testing_set.csv
datasets/training_set.csv
sestuple_datasets/dev_set_classic_sestuple
sestuple_datasets/test_set_classic_sestuple
sestuple_datasets/training_set_classic_sestuple
training_set_full_dataset.csv.zip
training_set_parziale.csv
training_set.csv
training_set.csv.zip
__pycache__/dataset.cpython-37.pyc
__pycache__/debug.cpython-37.pyc
__pycache__/global_settings.cpython-37.pyc
__pycache__/main.cpython-37.pyc
__pycache__/models.cpython-37.pyc
__pycache__/pytorch_utils.cpython-37.pyc
__pycache__/train_e_test.cpython-37.pyc
coppie_datasets/dev_set_classic_coppie
coppie_datasets/test_set_classic_coppie
coppie_datasets/training_set_classic_coppie
neoEYED_KeystrokeDataset_191021.zip
__MACOSX/._training_set.csv
